.deps/
.dirstamp
stamp-h?
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.log
/config.status
/configure
/config*.lineno
/qhello
/qhello-*.tar.*
/build/config.*
/build/depcomp
/build/install-sh
/build/missing
/src/*.moc.cc
/src/*.o
